<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet/style.css">
    <title>Skills Here</title>
</head>
<body style= 'background-color: rgb(211, 146, 8); font-size: 20px;' >

<h1>Skills at <%= time %></h1>

<a href="/"> go back</a>

<% if(error) { %>
<h2><%= error %></h2>
<% } %>
<ul>
<% skills.forEach(function(skill) { %>
<li>
    <form 
    action="/skills/<%= skill._id %>?_method=DELETE"
    class="delete-form"
    method="POST">
    <button type="submit">x</button>
    </form>
    
    <li>
    <a href="/skills/<%= skill._id %>"><%= skill.text %></a>
    - 
    <%= skill.learned ? 'âœ”ï¸' : 'ðŸš«' %>
    </li>
    <% }) %>
    </ul>
    <a href="/skills/new">Add your skill</a>
</body>
</body>
</html>